{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Create a new quote{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>
        <label for="body">Body</label>
        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
        <label for="tags">Tags</label>
        <textarea name="tags" id="tags">{{ request.form['tags'] }}</textarea>
        <select name="lang" id="lang">
            {% for lang in language %}
            <option value= "{{lang}}">{{lang}}</option>"
            {% endfor %}
        </select> <br>
        <img class="image" id="image" src="" style="display: none"/>
        <br>
        <input id="file" type="file" name="file">
        <input type="submit" value="Save">
    </form>

    <form action="{{ url_for('blog.index') }}" method="get">
        <input type="submit" value="Cancel">
    </form>

<script type="text/javascript">
    $("#file").change(function() {
        var fileReader = new FileReader();
        fileReader.onload = (function(e) {
            $("#image").show();
            $("#image").attr("src", e.target.result)
            $('#image').Jcrop({
                aspectRatio: 1,
                setSelect: [50, 0, 300, 300],
                allowResize: false
            });
        });
        fileReader.readAsDataURL($(this)[0].files[0]);
    });
</script>
{% endblock %}