{% extends 'base.html' %}

{% block content %}
    <div class="topnav">
        {% if g.user %}
            <a href="{{ url_for('blog.create') }}">New</a>
            <a href="/filter?liked=true">My posts</a>
        {% endif %}
        <a href="/filter?lang=Spanish">Spanish</a>
        <a href="/filter?lang=English">English</a>
        <div class="search-container">
            <form action="/filter" method="post">
                <input type="text" id="search_query" placeholder="Search.." name="search_query" value={{ request.form['search_query'] }}>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <hr>
    <table>
    <tbody>
    {% for post in posts %}
        <tr>
        <article class="post">
            <header>
                <div>
                    <img class="image" alt="{{ post['author'] }}" src="{{ '/static/user_files/' ~ post['img_url'] }}"/>
                    <p class="body">"{{ post['body'] }}"</p>
                    <div class="author">–– {{ post['author'] }}</div>
                    <div class="footer">tags: 
                    {% set list_tags = post['tags'].split(',') %}
                    {% for tag in list_tags %}
                        <a href="{{ '/filter?tag=' ~ tag}}">{{ tag }}</a>, 
                    {% endfor %} 
                    </div>
                    <div class="footer">likes: {{ post['likes'] }}</div>
                </div>
                {% if g.user %}
                    {% if post['id'] in liked_posts %}
                        <a href="/filter?liked=true">
                        <input type="submit" value="My posts"></a>
                    {% else %}
                        <form action="{{ url_for('blog.like_post', id=post['id']) }}" method="post">
                        <input type="submit" value="Like">
                    {% endif %}
                {% else %}
                    <form action="{{ url_for('auth.login') }}">
                    <input type="submit" value="Like">
                {% endif %}
                </form>
            </header>
            {% if g.user['id'] == post['author_id'] %}
                <br>
                <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
            {% endif %}
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {{ pagination.info if total_posts > 10 }}
    {{ pagination.links }}
{% endblock %}