{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <label for="author">Author</label>
        <input name="author" id="author" value="{{ request.form['author'] or post['author'] }}" required>
        <label for="body">Body</label>
        <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
        <label for="tags">Tags</label>
        <input type="text" name="tags" id="tags" data-role="tagsinput" class="form-control" value="{{ request.form['tags'] or post['tags'] }}">
        <select name="lang" id="lang">
            {% for langu in language %}
            <option value="{{langu}}" {{ 'selected' if langu == post['lang'] or langu == request.form['lang'] }}>{{ langu }}</option>
            {% endfor %}
        </select> <br>
        {% if request.form['img_url'] or post['img_url'] %}
            <img class="image" id="image" src="{{ '/static/user_files/' ~ post['img_url'] }}"/>
        {% else %}
            <img class="image" id="image" src="" style="display: none"/>
        {% endif %}
        <br>
        <input type="file" id="file" name="file">
        <input type="submit" value="Save">
    </form>
    <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
    <form action="{{ url_for('blog.index') }}" method="get">
        <input type="submit" value="Cancel">
    </form>

<script type="text/javascript">
    $("#file").change(function() {
        var fileReader = new FileReader();
        fileReader.onload = (function(e) {
            $("#image").show();
            $("#image").attr("src", e.target.result)
            $('#image').Jcrop({
                aspectRatio: 1,
                setSelect: [50, 0, 300, 300],
                allowResize: false
            });
        });
        fileReader.readAsDataURL($(this)[0].files[0]);
    });
</script>

{% endblock %}

